body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(219, 181, 181, 0.5)), url("./images/hero.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/*NAV*/

header nav {
    background: blue;
    color: white;
    display: flex;
}


ul li {
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    float: left;
}

/*  ABOUT US*/

.about-us {
    background: pink;
    text-align: center;
}

/*FOOTER*/

footer {
    background: blue;
    height: 200px;
}

footer h5 {
    color: white;
    font-size: 12px;
    text-align: center;
}

/*SECTION*/

section {
    background: lightblue;
    color: brown;
}